@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 2px solid var(--primary);
}



.button-transition {
  transition: background-color 200ms ease-in-out;
}


[role="tablist"] span {
  background-color: hsl(var(--nextui-default-action)) !important;
}


/* Add this to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.hover\:opacity-80:hover {
  opacity: 1 !important;
}


:root, [data-theme] {
  color: hsl(var(--nextui-foreground));
  background-color: hsl(var(--nextui-default-100));
}

.nav_searchbar {
  padding-inline-start: 20px !important;
  padding-inline-end: 20px !important;
}

.navkeyword {
  min-width: fit-content;
  padding-right: 20px;
  padding-left: 20px;
}

.navfilter {
  min-width: fit-content;
}

.card {
  border: 2px solid #ccc;
  transition: transform 0.3s ease;
}

.card.hovered {
  transform: scale(1.05);
}

.animate-spinner-linear-spin, .animate-spinner-ease-spin {
  border-radius: 9999px;
}

.after\:text-danger::after {
  color: hsl(var(--nextui-secondary-500)) !important;
}

.row_rounded{
  border-radius: 8px;
}

/* .max-height-40 *, .max-height-40{
  height: 38px;
} */

.calendarbase div:nth-child(2){
  width: 100% !important;
}

.line-clamp-3 {
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes marquee {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
  }
  
  .marquee {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
  }
  
  .marquee-content {
	animation: marquee 20s linear infinite;
  }